<form action="/<%= @event.id %>/<%= @item.id %>" method="post" id="edit">  
  <input type="hidden" name="_method" value="put">
  <label for="name">Item Name:</label>
  <input type="text" name="name" value="<%=h @item.name %>">
  <label for="amount">Amount:</label>
  <input type="text" name="amount" value="<%=h @item.amount %>">
  <input type="submit">  
</form>